<h1 [style.fontSize]="mySize">{{pageTitle}}</h1>
<div class="container">
    <div class="form left">        
    <div class="error" *ngIf="errorMessage">{{errorMessage}}</div>        
        <div class="field">
            <input type="text" [(ngModel)]="location.street" placeholder="Street" />
        </div>
        <div class="field">
            <input type="text" class="suite" [(ngModel)]="location.suite" placeholder="#Suite/APT" />
        </div>
        <div class="field">
            <input type="text" class="city" [(ngModel)]="location.city" placeholder="City" />    
            <input type="text" class="state" [(ngModel)]="location.state" placeholder="State" />
            <input type="text" class="country"  [(ngModel)]="location.country" placeholder="Country" />
        </div>
        <div class="field">
            <input type="text" class="zip" [(ngModel)]="location.zip" placeholder="Zip Code" />
        </div>

        <div class="button">
            <button (click)="searchLocation()" [disabled]="!isValid()">Search Location</button><button (click)="clear()">Clear</button>
        </div>
    </div>

    <div class="form left">
        <div class="field">
            Location Info: <span *ngIf="destination">LAT: {{destination.lat}} LONG: {{destination.lng}}</span>
        </div>
       <div class="button">
            <button (click)="getDistance()" [disabled]="!destination">Get Distance</button>
        </div>
        <div class="field" *ngIf="distance > 0">
            Distance in KM {{distance}}
            </div>
    </div>
</div>